$font: "Open Sans", sans-serif;

$white: #ffffff;
$accent: #257e93;
$grey: #4a4a4a;
$bright: #9611c6;
$dark: #393939;
$border: #dfdfdf;
$focus: #daf1fa;
$light: #bebebe;

$tr: 0.3s all ease-in-out;

$mobile: 767px;
