.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 30px;
}

.search {
  max-width: 400px;
  width: 100%;
}

.input {
  background-color: $white;
  border: 2px solid $border;
  outline: none;
  padding: 10px 15px;
  border-radius: 6px;
  width: 100%;
  transition: $tr;
}

.input:focus {
  border-color: #84bac5;
  background-color: $focus;
}
